@import "tailwindcss";

@theme {
  --color-iu-crimson: #990000;
  --color-iu-crimson-dark: #700000;
  --color-iu-cream: #EEEDEB;
  --color-iu-limestone: #DCDDD9;
  --color-iu-midnight: #191919;
  --color-iu-black: #000000;
  --color-iu-white: #FFFFFF;

  --font-serif: "Benton Serif", Georgia, Merriweather, serif;
  --font-sans: "Benton Sans", Inter, Roboto, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-[#191919] text-[#EEEDEB] antialiased selection:bg-[#990000] selection:text-white;
    font-family: var(--font-sans);
  }

  h1, h2, h3, .font-iu-serif {
    font-family: var(--font-serif);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

